body{
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: center;
  background-size: 100% 100%;
  margin:0;
  padding: 0 0 50px 0;
}

nav{
 background-color: rgb(165, 39, 39);
 padding-top: 30px;
 padding-bottom: 20px;
 position:fixed;
 width: 100%;
 top: 0;
 z-index: 10; /*para nasa ibabaw lng yung nav*/
 justify-content: flex-start;
}

nav a{
  background: transparent; /* para hindi kasama mabago nung mga nav */
  text-decoration: none;
  padding-right: 30px;
  color: rgb(245, 242, 242);
} 
nav a:hover{
  color: burlywood;
}

.navigator{
  text-align: right;
  font-size:16px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/*gallery styles*/
.gallery{
 display: grid;
 align-items: center;
}

div{
 align-items: center;
 text-align: center;
}

.image img{
  width:100%;
  max-width: 300px; /* para maging responsive */
  height: auto;
  margin: 2px;
  border-radius: 20px;
  border: 2px solid rgba(158, 15, 15, 0.648);
  box-shadow: 3px 2px 8px 0px rgb(153, 64, 64);
  transition: 1.0s;
}

.gallery img:hover{
  transform: scale(1.05);
  z-index: 2;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.img-caption{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.img-caption p{
  margin: 8px 0 8px 0;
  font-size: 25px;
  padding-top: 30px;
  background:transparent;
  color: rgba(78, 3, 3, 0.758);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
 
}

h1{
  padding: 30px 0 30px 0;
  color: rgba(121, 5, 5, 0.758);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
